.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  .header-logo {
    color: $primary;
    width: 40px;
    height: 43px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-left: 136px;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    .nav {
      display: flex;
      flex-direction: row;
      .nav__item {
        width: 57px;
        height: 22px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin: 16px;
        margin-right: 16px;
        text-align: center;
        align-items: center;
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      .actions__search {
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 16px;
        .icon-search {
          width: 20px;
          height: 22px;
        }
      }
      .actions__language {
        display: flex;
        align-items: center;
        .text-language {
          width: 25px;
          height: 22px;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          position: relative;
          left: 42px;
        }
      }
    }
  }
}
main {
  position: absolute;
  width: 175px;
  height: 22px;
  left: 248px;
  top: 139px;
  .main__function-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .main__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: $primary;
    text-align: center;
    margin-top: 151px;
    margin-left: 15px;
  }
  .main__thesis {
    width: 334px;
    height: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .main__detail {
    width: 459px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}
.footer {
  position: absolute;
  width: 135px;
  height: 40px;
  left: 249px;
  top: 668px;
  display: flex;
  flex-direction: row;
  .footer__btn-appstore {
    margin-right: 30px;
  }
  .footer-iphone {
    position: absolute;
    width: 358px;
    height: 551px;
    left: 840px;
    top: -450px;
  }
  .footer-iphone-screen {
    position: absolute;
    width: 312px;
    height: 460px;
    left: 863px;
    top: -361px;
  }
}
