@use '../utils' as *;

.section7 {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
  @include tablet {
    height: 449px;
  }
  @include tablet-small {
    height: 600px;
  }
  @include exception {
    height: 1200px;
  }
  &__title {
    width: 240px;
    height: 24px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    color: $text-sub-color;
    @include desktop {
      font-size: 44px;
      line-height: 48px;
      width: 396px;
      height: 48px;
      margin-bottom: 50px;
    }
    @include tablet {
      width: 270px;
      height: 40px;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 30px;
    }
    @include tablet-small {
      margin-bottom: 30px;
    }
  }
  &__list-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    @include desktop {
      width: 610px;
    }
    @include desktop-lager {
      width: 100%;
    }
    @include mobile-lager {
      width: 410px;
    }
    @include tablet-small {
      width: 410px;
    }
  }
}
