@use '../utils' as *;

.section6 {
  height: 504px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  @include desktop {
    height: 802px;
  }
  @include tablet {
    height: 520px;
  }
  &__title {
    color: $text-sub-color;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.025em;
    @include desktop {
      font-size: 44px;
      line-height: 48px;
    }
    @include tablet {
      font-size: 32px;
    }
  }
  &__list-card {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 10px;
    }
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
