@use '../utils' as *;

.section2 {
  height: 823px;
  display: flex;
  flex-direction: column;
  background-color: $text-color;
  align-items: center;
  text-align: center;
  margin-top: 28px;
  overflow: hidden;
  @include tablet {
    height: 363px;
  }
  @include desktop {
    height: 682px;
  }
  @include tablet-small {
    height: 363px;
  }
  @include mobile-lager {
    height: 580px;
  }
  &__title {
    font-size: 20px;
    line-height: 40px;
    color: $text-sub-color;
    margin-bottom: 7px;
    @include tablet {
      font-size: 32px;
    }
    @include desktop {
      font-size: 44px;
      line-height: 48px;
      margin-top: 70px;
    }
  }
  &__detail {
    font-size: 11px;
    line-height: 16px;
    color: $text-sub-color;
    @include desktop {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
    }
  }
}
