@use '../utils' as *;

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include tablet {
    height: 520px;
  }
  @include tablet-small {
    height: 820px;
  }
  @include mobile-lager {
    height: 780px;
  }
  @include desktop-lager {
    justify-content: center;
  }
  &__title {
    font-size: 20px;
    line-height: 40px;
    color: $text-sub-color;
    margin-top: 29px;
    @include desktop {
      font-size: 44px;
      line-height: 48px;
      margin-top: 40px;
    }
    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__content {
    width: 240px;
    height: 64px;
    font-size: 11px;
    line-height: 16px;
    color: $text-sub-color;
    margin-top: 7px;
    @include desktop {
      font-size: 16px;
      line-height: 24px;
      width: 555px;
      height: 72px;
    }
    @include tablet {
      font-size: 11px;
      line-height: 16px;
      width: 555px;
      height: 32px;
    }
  }
}
