@use '../utils' as *;

.section8 {
  background: url('../assets/img/background/background-section8-mobile.png')
    no-repeat center center / cover;
  height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  @include desktop {
    height: 683px;
  }
  &__title {
    font-size: 31.2889px;
    line-height: 40px;
    margin-top: 40px;
    @include desktop {
      font-size: 44px;
      line-height: 48px;
    }
    @include tablet {
      font-size: 31.2889px;
      line-height: 40px;
    }
  }
  &__form {
    margin-top: 32px;
    .overlay {
      width: 290px;
      height: 370.7px;
      background: #4b4b4b;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      @include desktop {
        width: 360px;
        height: 396px;
      }
      @include tablet {
        width: 290px;
        height: 372px;
      }
      @include exception {
        width: 260px;
      }
      &-main {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          224.09deg,
          rgba(255, 255, 255, 0.7) 5.13%,
          rgba(255, 255, 255, 7e-5) 90.88%
        );
        background-blend-mode: soft-light;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &__name-input,
        &__email-input {
          width: 220px;
          height: 35px;
          mix-blend-mode: normal;
          opacity: 0.8;
          border: 1px solid #999999;
          border-radius: 4px;
          margin-bottom: 24px;
          padding: 11px 14px;
          outline: none;
          @include desktop {
            width: 256px;
            height: 36px;
          }
          @include tablet {
            width: 220px;
            height: 35.21px;
          }
        }
        &__message-input {
          width: 220px;
          height: 92px;
          mix-blend-mode: normal;
          opacity: 0.8;
          border: 1px solid #999999;
          border-radius: 4px;
          margin-bottom: 20px;
          padding: 11px 14px 68px;
          outline: none;
          @include desktop {
            width: 256px;
            height: 94px;
          }
          @include tablet {
            width: 220px;
            height: 91.94px;
          }
        }
        &__checkbox-question {
          input[type='checkbox'] {
            accent-color: $primary-color;
            cursor: pointer;
            border-radius: 4px;
            width: 18px;
            height: 18px;
          }
          p {
            margin-left: 3px;
            @include desktop {
              font-size: 16px;
              line-height: 24px;
            }
            @include tablet {
              font-size: 10.7556px;
              line-height: 24px;
            }
          }
          width: 200px;
          height: 24px;
          margin-bottom: 8px;
          font-size: 10.7556px;
          line-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__submit-btn {
          width: 140px;
          height: 40px;
          background: $primary-color;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
          line-height: 13px;
          color: $text-sub-color;
          letter-spacing: 0.0727273em;
          cursor: pointer;
          &:active {
            background-color: $primary-color;
            transform: translateY(4px);
          }
          @include desktop {
            width: 198px;
            height: 48px;
            font-size: 16px;
            line-height: 19px;
            margin-top: 15px;
          }
        }
      }
    }
  }
  &-contact {
    display: flex;
    flex-direction: column;
    margin: 25px;
    @include desktop {
      flex-direction: row;
    }
    @include tablet {
      flex-direction: row;
    }
    &__address,
    &__email,
    &__phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 8px;
      figure {
        width: 25px;
        height: 25px;
      }
      p {
        margin-left: 12px;
      }
    }
    &__address {
      .address__icon {
        width: 11px;
        height: 17px;
      }
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p {
        margin-left: 20px;
      }
    }
    &__email {
      .email__icon {
        width: 17px;
        height: 10px;
      }
    }
    &__phone {
      .phone__icon {
        width: 11px;
        height: 17px;
      }
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
