@use '../utils' as *;

.section1 {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  @include desktop-lager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    gap: 130px;
    position: absolute;
    bottom: 0;
    align-items: end;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }
  &-content {
    margin-top: 40px;
    @include desktop {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    @include desktop-lager {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      margin-right: 60px;
    }
    &__function-title {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.0444444em;
      @include desktop {
        font-size: 18px;
        line-height: 21px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        letter-spacing: 0.0555556em;
      }
      @include tablet {
        font-size: 12px;
        line-height: 16px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        letter-spacing: 0.0832079em;
      }
    }
    &__title {
      width: 164px;
      height: 38px;
      font-size: 2rem;
      line-height: 2.375rem;
      letter-spacing: 0.03125em;
      color: $primary-color;
      text-align: center;
      margin-top: 15px;
      margin-left: 10px;
      @include desktop {
        width: 329px;
        height: 75px;
        font-size: 64px;
        line-height: 75px;
        margin-top: 130px;
        letter-spacing: 0.03125em;
        margin-left: 20px;
      }
      @include tablet {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.0554719em;
        margin-top: 50px;
        margin-left: 10px;
      }
    }
    &__thesis {
      width: 179px;
      height: 15px;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03125em;
      display: flex;
      align-items: center;
      margin-top: 12px;
      @include desktop {
        width: 360px;
        height: 36px;
        font-size: 24px;
        line-height: 36px;
        margin-top: 40px;
      }
      @include tablet {
        width: 190px;
        height: 16px;
        font-size: 12.0181px;
        line-height: 16px;
        margin-top: 30px;
      }
    }
    &__detail {
      width: 239px;
      height: 80px;
      font-size: 0.6875rem;
      line-height: 1rem;
      display: flex;
      align-items: center;
      margin: 20px 0px;
      @include desktop {
        width: 459px;
        height: 96px;
        font-size: 16px;
        line-height: 24px;
      }
      @include tablet {
        font-size: 11px;
        line-height: 16px;
        width: 283.64px;
        height: 80px;
      }
    }
    &__device {
      height: 110px;
      width: 225px;
      display: block;
      @include desktop {
        display: none;
        height: 0px;
        width: 0px;
      }
      @include tablet {
        display: none;
        height: 0px;
        width: 0px;
      }
    }
    .section1-download {
      display: flex;
      flex-direction: row;
      margin-left: 35px;
      margin-top: 10px;
      @include desktop {
        margin-left: 0px;
        margin-top: 60px;
      }
      @include tablet {
        margin-left: 0px;
      }
      &__appstore,
      &__google-play {
        width: 67.5px;
        height: 20px;
        margin-left: 7.5px;
        @include desktop {
          width: 135px;
          height: 40px;
          margin-left: 30px;
        }
        @include tablet {
          width: 71.91px;
          height: 21.29px;
          margin-left: 15px;
        }
      }
    }
  }
  &__device--desktop {
    display: none;
    @include desktop {
      display: block;
      width: 358px;
      height: 551px;
    }
    @include desktop-lager {
      display: block;
      width: 358px;
      height: 551px;
    }
    @include tablet {
      display: block;
      width: 220px;
      height: 337px;
      padding-top: 54px;
    }
  }
}
