@use '../utils' as *;

.section3 {
  background: url('../assets/img/background/background-section3.png')
    no-repeat center center / cover;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include desktop {
    height: 620px;
  }
  @include tablet {
    height: 330px;
  }
  &__title {
    font-size: 20px;
    line-height: 40px;
    margin-top: 28px;
    @include desktop {
      font-size: 44px;
      line-height: 48px;
    }
    @include tablet {
      font-size: 32px;
      letter-spacing: -0.025em;
      margin-top: 0px;

    }
  }
  &__comma {
    width: 70.87px;
    height: 108px;
    font-size: 64px;
    line-height: 75px;
    color: $primary-color;
    position: relative;
    top: 35px;
    @include desktop {
      font-size: 144px;
      line-height: 169px;
      top: -60px;
    }
    @include tablet {
      display: none;
    }
    @include tablet-small {
      display: none;
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @include tablet {
      margin-top: 30px;
    }
    @include tablet-small {
      margin-top: 30px;
    }
    .paragraph {
      width: 240px;
      height: 112px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      position: relative;
      bottom: 52px;
      @include desktop {
        width: 750px;
        height: 180px;
        font-size: 24px;
        line-height: 36px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        padding-top: 20px;
      }
      @include tablet {
        width: 470px;
        height: 64px;
        bottom: 0px;
      }
      @include tablet-small {
        width: 360px;
        height: 44px;
        bottom: 0px;
      }
    }
    &__prev-btn, &__next-btn{
      display: none;
      @include desktop {
        display: block;
        width: 64px;
        height: 64px;
      }
      @include tablet {
        display: block;
        width: 40px;
        height: 40px;
      }
      @include tablet-small {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
  &-user {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 30px;
    @include desktop {
      margin-top: 40px;
    }
    @include tablet-small {
      margin-top: 30px;
      bottom: -30px;
    }
    @include tablet {
      bottom: -30px;
    }
    &__avatar {
      width: 48px;
      height: 48px;
      border: 2px solid $primary-color;
      border-radius: 50%;
      @include desktop {
        width: 72px;
        height: 72px;
        border: none;
      }
    }
    .section3-profile {
      display: block;
      &__user-name,
      &__user-tag-name {
        margin-left: 16px;
        @include desktop {
          padding-top: 10px;
          margin-left: 30px;
        }
      }
      &__user-name {
        width: 85px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        color: $primary-color;
        @include desktop {
          width: 127px;
          height: 30px;
          font-size: 18px;
        }
      }
      &__user-tag-name {
        width: 87px;
        height: 30px;
        font-size: 11px;
        line-height: 30px;
        position: relative;
        bottom: 14px;
        @include desktop {
          font-size: 16px;
        }
      }
    }
  }
}
