@use '../utils' as *;

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 115px;
  margin: 0px 20px 0px 20px;
  @include desktop {
    width: 20%;
  }
  @include tablet {
    width: 18%;
  }
  &__item--above-right {
    margin-bottom: 42px;
    @include tablet {
      margin-bottom: 42px;
    }
    @include desktop {
      margin-bottom: 62px;
    }
  }
  &__item--under-right {
    margin-bottom: 26px;
    @include tablet {
      margin-bottom: 44px;
    }
    @include desktop {
      margin-bottom: 58px;
    }
  }
  &__item--under-left {
    margin-bottom: 22px;
    @include desktop {
      margin-bottom: 30px;
    }
  }
  &__title {
    width: 62px;
    height: 15px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.0666667em;
    margin-bottom: 12px;
    margin-top: 10px;
    @include desktop {
      font-size: 18px;
      line-height: 21px;
    }
  }
  &__separator {
    width: 100%;
    height: 1px;
    box-sizing: border-box;
    background: #7d7d7d;
    margin-bottom: 10px;
  }
  &__content {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 8px;
    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
