@use '../utils' as *;

.card-overlay {
  width: 240px;
  height: 280px;
  margin: 0px 10px;
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
  background-blend-mode: multiply;
  border-radius: 8px;
  margin-bottom: 100px;
  @include desktop {
    width: 480px;
    height: 348px;
    margin-top: 70px;
  }
  @include tablet {
    width: 316px;
    height: 280px;
  }
  &-- {
    display: block;
    &active {
      display: none;
      @include tablet {
        display: inline;
        margin-bottom: 0px;
        .comma,
        .content,
        .description {
          color: $text-sub-color;
        }
      }
      @include desktop {
        display: inline;
        margin-top: 0;
      }
      .card-overlay__main {
        background-color: $primary-color;
        .username {
          color: $text-sub-color;
        }
        @include desktop {
          .comma,
          .content,
          .description {
            color: $text-sub-color;
          }
        }
      }
      .avatar {
        border: 2px solid #4b4b4b;
      }
    }
  }
  &__main {
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: $text-sub-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      width: 480px;
      height: 348px;
    }
    .comma {
      font-size: 64px;
      line-height: 75px;
      @include desktop {
        font-size: 64px;
        line-height: 75px;
        padding-top: 60px;
      }
      @include tablet {
        font-size: 64px;
        line-height: 75px;
        margin-top: 40px;
      }
    }
    .content,
    .username,
    .description {
      text-align: left;
      margin: 0px 27px;
    }
    .content {
      width: 190px;
      height: 48px;
      font-size: 11px;
      line-height: 16px;
      position: relative;
      bottom: 15px;
      @include desktop {
        font-size: 18px;
        line-height: 24px;
        width: 420px;
        height: 48px;
        margin-top: 20px;
      }
      @include tablet {
        font-size: 11px;
        line-height: 16px;
        width: 219px;
        height: 48px;
      }
    }
    .username {
      font-size: 18px;
      line-height: 21px;
      color: $primary-color;
      margin-top: 10px;
      @include desktop {
        font-size: 24px;
        line-height: 28px;
        margin-top: 44px;
      }
      @include tablet {
        font-size: 18px;
        line-height: 21px;
      }
    }
    .description {
      font-size: 12px;
      line-height: 30px;
      @include desktop {
        font-size: 16px;
      }
      @include tablet {
        font-size: 12px;
        line-height: 30px;
        margin-top: 15px;
      }
    }
    .avatar {
      width: 64px;
      height: 64px;
      border: 2px solid #f6f6f6;
      border-radius: 50%;
      position: relative;
      top: 45px;
      left: 90px;
      @include desktop {
        width: 128px;
        height: 128px;
        top: 18px;
        left: 315px;
      }
      @include tablet {
        width: 80px;
        height: 80px;
        left: 190px;
        top: 18px;
      }
    }
  }
}
.card-overlay.slick-slide {
  @include tablet {
    width: 316px;
    height: 280px;
  }
}