@use "../utils" as *;

@forward "nav";
@forward "pie-chart";
@forward "product";
@forward "card";
@forward "dot-list";
@forward "card-plan";
@forward "card-footer";

.containerv {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}