@use "../utils" as *;

@forward "nav";
@forward "pie-chart";
@forward "product";
@forward "card";
@forward "dot-list";
@forward "card-plan";
@forward "card-footer";
@forward "slider";

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
}