@use "../utils" as *;

.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 8px 0px;
  .nav__item {
    margin: 10px;
    list-style: none;
    display: flex;
    .nav-link {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
