@use '../utils' as *;

.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 16px 0px;
  .nav__item {
    margin: 10px;
    list-style: none;
    display: flex;
    cursor: pointer;
    @include desktop {
      margin-right: 30px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .nav-link {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
