//Font
$primary-font: Roboto;
//Breakpoints
$small: 640px;
$medium: 768px;
$extra-large: 1024px;

$tablet-small: calc($small - 1px);
$tablet: calc($medium - 1px);
$desktop: calc($extra-large - 1px);

// Color
$primary-color: #ebcb80;
$background-color: #ffffff;

// Color-text
$text-color: #ffffff;
$text-sub-color: #4b4b4b;
