//Font
$primary-font: Roboto;
//Breakpoints
$exception: 280px;
$small: 400px;
$extra-small: 640px;
$medium: 768px;
$large: 1024px;
$extra-large: 1280px;

$mobile-small: 320px;
$mobile-lager: $small;
$tablet-small: $extra-small;
$tablet: $medium;
$desktop: $large;
$desktop-lager: $extra-large;

// Color
$primary-color: #ebcb80;
$background-color: #ffffff;

// Color-text
$text-color: #ffffff;
$text-sub-color: #4b4b4b;
