<div class="card-plan" data-aos="slide-up" data-aos-duration="1000">
  <div class="card-plan__content">
    <figure class="background">
      <img src="{{ image }}" alt="" />
    </figure>
    <div class="main">
      <div class="header">
        <div class="header__title">{{ title }}</div>
        <div class="header__price-plan">
          <figure class="icon">
            <img src="../assets/img/icon/price.svg" alt="" />
          </figure>
          <div class="text">{{ price }}</div>
        </div>
      </div>
      <div class="list-content">
        <each loop="item in {{ list }}">
          <div class="list-content__item">{{ item }}</div>
        </each>
      </div>
      <button class="get-started-btn">
        GET STARTED
      </button>
    </div>
  </div>
</div>
