<div class="percentage-list">
  <include 
    src="./components/pie-chart.html"
    locals='{
      "image": "../assets/img/user/percentage1.png",
      "classPercent": "pie-chart__percent",
      "classTitle": "pie-chart__title",
      "classContent": "pie-chart__content",
      "value1": "74",
      "value2": ",98",
      "title": "TOTAL CONVERSION",
      "content": "The past few years have seen a dramatic change in the public perception of cosmetic surgery."
    }'
  ></include>
  <include 
    src="./components/pie-chart.html"
    locals='{
      "image": "../assets/img/user/percentage2.png",
      "classPercent": "pie-chart__percent",
      "classTitle": "pie-chart__title",
      "classContent": "pie-chart__content",
      "value1": "39",
      "value2": ",75",
      "title": "FREE DOWNOADS",
      "content": "Can you imagine what we will be downloading in another twenty years?"
    }'
  ></include>
  <include 
    src="./components/pie-chart.html"
    locals='{
      "image": "../assets/img/user/percentage3.png",
      "classPercent": "pie-chart__percent",
      "classTitle": "pie-chart__title",
      "classContent": "pie-chart__content",
      "value1": "81",
      "value2": ",15",
      "title": "UNIQUE VISITORS",
      "content": "WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life."
    }'
  ></include>
</div>