<div class="product">
  <figure class="product__activity">
      <img src="{{ image }}" alt="">
  </figure>
  <div class="product-view">
    <img class="product-view__icon" src="../assets/img/icon/view.svg" alt="">
    <div class="product-view__number">
      <img src="../assets/img/icon/view.svg" alt="">
      <p>1323</p>
    </div>
  </div>
  <div class="product__title">{{ title }}</div>
  <span class="product__author-by">by</span>
  <div class="product__author">{{ author }}</div>
  <div class="product__btn">REVIEW</div>
</div>