<div class="product-list">
  <include
    src="./components/product.html"
    locals='{
      "image": "../assets/img/products/product1.png",
      "title": "APP MAINTENANCE",
      "author": "Lida Morrison, Nettie Burke"
    }'
  >
  </include>
  <include
  src="./components/product.html"
  locals='{
    "image": "../assets/img/products/product2.png",
    "title": "FTA KEYS",
    "author": "Ivan Alexander, Steven Soto, Clifford Hammond"
  }'
  >
  </include>
  <include
  src="./components/product.html"
  locals='{
    "image": "../assets/img/products/product3.png",
    "title": "SMART WATCH",
    "author": "Trevor James, Carl Stevenson"
  }'
  >
  </include>
  <include
  src="./components/product.html"
  locals='{
    "image": "../assets/img/products/product4.png",
    "title": "WATCH APPS",
    "author": "Glen Snyder, Andrew Goodwin, Lida Morrison"
  }'
  >
  </include>
</div>