<div class="product">
  <div class="product__img">
      <img src="{{ image }}" alt="">
  </div>
  <div class="product__view">
    <img class="view-hover" src="../assets/img/icon/view.svg" alt="">
    <div class="view-number">
      <img src="../assets/img/icon/view.svg" alt="">
      <span>1323</span>
    </div>
  </div>
  <div class="product__title">{{ title }}</div>
  <span class="product__author-by">by</span>
  <div class="product__author">{{ author }}</div>
  <div class="product__btn">REVIEW</div>
</div>