<section class="slider" aria-label="Gallery">
  <ol class="slider__viewport">
    <li id="slider__slide1" class="slider__slide">
      <div class="section3 container">
        <div class="section3__title">What Clients are saying</div>
        <div class="section3__comma">“</div>
        <div class="section3-content">
          <img
            class="section3-content__prev-btn"
            src="../assets/img/icon/prev.svg"
            alt=""
          />
          <p class="paragraph">
            Businesses at present had creatively generated effective advertising
            campaigns in the form of audio visual media that includes the television
            and radios and the print media that cover the newspaper and campaign
            materials like the posters, brochures, business cards, flyers and many
            more.
          </p>
          <img
            class="section3-content__next-btn"
            src="../assets/img/icon/next.svg"
            alt=""
          />
        </div>
        <div class="section3-user">
          <figure class="section3-user__avatar">
            <img src="../assets/img/user/person1.svg" alt="" />
          </figure>
          <div class="section3-profile">
            <div class="section3-profile__user-name">Ophelia Holland</div>
            <div class="section3-profile__user-tag-name">@ophelia_holland</div>
          </div>
        </div>
      </div>
    </li>
  </ol>
</section>
