<footer class="footer section scroll s-nine" data-section-name="s-nine">
  <div class="footer__list-card">
    <include
      src="./components/card-footer.html"
      locals='{
        "class": "",
        "title": "COMPANY",
        "list": "[`News`,`Blog`,`Testimonials`,`About Us`,`Press Kit`, `Get in Touch`]"
      }'
    ></include>
    <include
      src="./components/card-footer.html"
      locals='{
        "class": "card-footer__item--above-right",
        "title": "PRODUCTS",
        "list": "[`UI Kits`,`Icons`,`Wordpress Themes`,`Mock-Ups`]"
      }'
    ></include>
    <include
      src="./components/card-footer.html"
      locals='{
        "class": "card-footer__item--under-left",
        "title": "SUPPORT",
        "list": "[`Community`,`Forum`,`Distributors`,`Privacy Policy`,`Terms of Use`]"
      }'
    ></include>
    <include
      src="./components/card-footer.html"
      locals='{
        "class": "card-footer__item--under-right",
        "title": "CUSTOMERS",
        "list": "[`Documentation`,`Tools`,`Downloads`,`Developer Center`]"
      }'
    ></include>
  </div>
  <div class="footer__separator"></div>
  <figure class="footer-main">
    <div class="footer-main__list-contact">
      <figure class="icon-social-network icon-in">
        <img src="../assets/img/icon/in.svg" alt="" />
      </figure>
      <figure class="icon-social-network icon-google">
        <img src="../assets/img/icon/google-plus.svg" alt="" />
      </figure>
      <figure class="icon-social-network icon-twitter">
        <img src="../assets/img/icon/twitter.svg" alt="" />
      </figure>
      <figure class="icon-social-network icon-facebook">
        <img src="../assets/img/icon/facebook.svg" alt="" />
      </figure>
      <figure class="icon-social-network icon-instagram">
        <img src="../assets/img/icon/instagram.svg" alt="" />
      </figure>
    </div>
    <div class="footer-main__copyright">
      <div class="title">© 2016 Hofmann UI Kit</div>
      <div class="description">Created by Goldenfox — okodesign.net</div>
    </div>
  </figure>
</footer>
