<section class="section1">
  <div class="section1-content">
    <div class="section1-content__function-title">RESPONSIVE UI KIT</div>
    <div class="section1-content__title">HOFMANN</div>
    <div class="section1-content__thesis">We’re Bring It To The New Level</div>
    <div class="section1-content__detail">
      Every new computer that’s brought home from the store has an operating
      system installed onto it. But what most new computer users don’t realize,
      is that without an operating system, that computer would be a simple shell
      of possibilities.
    </div>
    <div class="section1-content__device">
      <img
        class="device__iphone"
        src="../assets/img/background/iphone-mobile1.png"
        alt=""
      />
    </div>
    <div class="section1-download">
      <img
        class="section1-download__appstore"
        src="../assets/img/background/appstore-badge.png"
        alt=""
      />
      <img
        class="section1-download__google-play"
        src="../assets/img/background/google-play-badge.png"
        alt=""
      />
    </div>
  </div>
  <figure class="section1__device--desktop">
    <img src="../assets/img/background/iphone-desktop.png" alt="" />
  </figure>
</section>
