<div class="section3">
  <div class="section3__title">
      What Clients are saying
  </div>
  <div class="section3__comma">“</div>
  <div class="section3__content">
    <img class="prev__btn" src="../assets/img/icon/prev.svg" alt="">
    <p class="paragraph">Businesses at present had creatively generated effective advertising campaigns in the form of audio visual media that includes the television and radios and the print media that cover the newspaper and campaign materials like the posters, brochures, business cards, flyers and many more.</p> 
    <img class="next__btn" src="../assets/img/icon/next.svg" alt="">  
  </div>
  <div class="section3__user">
    <div class="avatar">
      <img class="avatar__img" src="../assets/img/user/person1.svg" alt="">
    </div>
    <div class="profile">
      <div class="profile__user-name">Ophelia Holland</div>
      <div class="profile__user-tag-name">@ophelia_holland</div>
    </div>
  </div> 
</div>