<section class="section8 section"  class="scroll s-eight" data-section-name="s-eight">
  <div class="section8__title">Get in Touch</div>
  <div class="section8__form" data-aos="flip-up" data-aos-duration="1500">
    <div class="overlay">
      <div class="overlay-main">
        <input
          class="overlay-main__name-input"
          type="text"
          placeholder="Name*"
        />
        <input
          class="overlay-main__email-input"
          type="text"
          placeholder="Email*"
        />
        <input
          class="overlay-main__message-input"
          type="text"
          placeholder="Message"
        />
        <label class="overlay-main__checkbox-question">
          <input type="checkbox" checked="checked" />
          <p>Most Urgent Question</p>
        </label>
        <div class="overlay-main__submit-btn">SUBMIT</div>
      </div>
    </div>
  </div>
  <div class="section8-contact">
    <div class="section8-contact__address">
      <figure>
        <img
          class="address__icon"
          src="../assets/img/icon/location.svg"
          alt=""
        />
      </figure>
      <p>2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
    </div>
    <div class="section8-contact__email">
      <figure>
        <img class="email__icon" src="../assets/img/icon/mail.svg" alt="" />
      </figure>
      <p>contact@hofmannui.net</p>
    </div>
    <div class="section8-contact__phone">
      <figure>
        <img class="phone__icon" src="../assets/img/icon/phone.svg" alt="" />
      </figure>
      <p>952-775-6021</p>
    </div>
  </div>
</section>
