<div class="section1">
    <div class="section1__content">
      <div class="function-title">RESPONSIVE UI KIT</div>
      <div class="title">HOFMANN</div>
      <div class="thesis">We’re Bring It To The New Level</div>
      <div class="detail">Every new computer that’s brought home from the store has an operating system installed onto it. But what most new computer users don’t realize, is that without an operating system, that computer would be a simple shell of possibilities.</div>
      <div class="iphone">
          <img class="iphone" src="../assets/img/background/iphone-mobile1.png" alt="">
      </div>
      <div class="download">
        <img class="appstore" src="../assets/img/background/appstore-badge.png" alt="">
        <img class="google-play" src="../assets/img/background/google-play-badge.png" alt="">
      </div>
    </div>
    <figure class="iphone-desktop">
      <img src="../assets/img/background/iphone-desktop.png" alt="">
    </figure>
</div>