<section
  class="section3 section"
  class="scroll s-three"
  data-section-name="s-three"
>
  <div class="section3__title">What Clients are saying</div>
  <div class="section3__comma">“</div>
  <div class="section3-content">
    <figure class="section3-content__prev-btn">
      <img src="../assets/img/icon/prev.svg" alt="" />
    </figure>
    <div class="list-carousel">
      <div class="carousel">
        <p class="carousel__paragraph">
          Businesses at present had creatively generated effective advertising
          campaigns in the form of audio visual media that includes the television
          and radios and the print media that cover the newspaper and campaign
          materials like the posters, brochures, business cards, flyers and many
          more.
        </p>
        <div class="carousel-user">
          <figure class="carousel-user__avatar">
            <img src="../assets/img/user/person1.svg" alt="" />
          </figure>
          <div class="carousel-profile">
            <div class="carousel-profile__user-name">Ophelia Holland</div>
            <div class="carousel-profile__user-tag-name">@ophelia_holland</div>
          </div>
        </div>
      </div>
      <div class="carousel">
        <p class="carousel__paragraph">
          Businesses at present had creatively generated effective advertising
          campaigns in the form of audio visual media that includes the television
          and radios and the print media that cover the newspaper and campaign
          materials like the posters, brochures, business cards, flyers and many
          more.
        </p>
        <div class="carousel-user">
          <figure class="carousel-user__avatar">
            <img src="../assets/img/user/person2.svg" alt="" />
          </figure>
          <div class="carousel-profile">
            <div class="carousel-profile__user-name">Ophelia Holland</div>
            <div class="carousel-profile__user-tag-name">@ophelia_holland</div>
          </div>
        </div>
      </div>
      <div class="carousel">
        <p class="carousel__paragraph">
          Businesses at present had creatively generated effective advertising
          campaigns in the form of audio visual media that includes the television
          and radios and the print media that cover the newspaper and campaign
          materials like the posters, brochures, business cards, flyers and many
          more.
        </p>
        <div class="carousel-user">
          <figure class="carousel-user__avatar">
            <img src="../assets/img/user/person1.svg" alt="" />
          </figure>
          <div class="carousel-profile">
            <div class="carousel-profile__user-name">Ophelia Holland</div>
            <div class="carousel-profile__user-tag-name">@ophelia_holland</div>
          </div>
        </div>
      </div>
    </div>
    
    <figure class="section3-content__next-btn">
      <img src="../assets/img/icon/next.svg" alt="" />
    </figure>
  </div>
</section>
