<section class="section7 section "  class="scroll s-seven" data-section-name="s-seven">
  <div class="section7__title">Subscribing Plans</div>
  <div class="section7__list-card">
    <include
      src="./components/card-plan.html"
      locals='{
        "image": "../assets/img/products/card-plan1.png",
        "title": "FREEMIUM",
        "price": "0",
        "list": "[`Basic Collections`,`10 Messages`,`50 Images per Day`]"
      }'
    ></include>
    <include
      src="./components/card-plan.html"
      locals='{
        "image": "../assets/img/products/card-plan2.png",
        "title": "START UP",
        "price": "9",
        "list": "[`Multiple Collections`,`10 Messages`,`100 Images per Day`]"
      }'
    ></include>
    <include
      src="./components/card-plan.html"
      locals='{
        "image": "../assets/img/products/card-plan3.png",
        "title": "BUSINESS",
        "price": "29",
        "list": "[`Unlimited Collections`,`500 Messages`,`300 Images per Day`,`Project Reviews`]"
      }'
    ></include>
    <include
      src="./components/card-plan.html"
      locals='{
        "image": "../assets/img/products/card-plan4.png",
        "title": "ENTERPRISE",
        "price": "49",
        "list": "[`Unlimited Collections`,`Unlimited Messages`,`Unlimited Images per Day`,`Project Reviews`]"
      }'
    ></include>
  </div>
</section>
